body {
    margin: 0;
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.heading {
    color:#000;
    font-size: 60px;
}





@media all and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .img {
        width: 90%;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .heading-h2,
    .heading {
        font-size: 20px;
    }
}